#top {
    position: relative;
    background-color: #5be440;
    color: white;
    padding: 1px;
    margin: 0px 0px 0px 0px;
}

#bottom {
    position: relative;
    background-color: #ccffcc;
    padding: 5px  0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    background: rgba(0, 0, 0, 0.5) url("https://www.xtrafondos.com/wallpapers/ladera-382.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: #fff;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: #ffffff;
    font-weight : bold;
    text-decoration : underline;
}


