 /*
Autor: LUIS LENNIN VILLARREAL CASTRO
Creacion: 15/11/20222
Actualizacion: 01/12/2022
Descripción: Estilos del para la pagina principal
 */ 
/*crea los marcos y estilo de las cajas de la página de inicio */
            #box{
                margin-left:10%;
                margin-right:10%;
                margin-right:auto;
                justify-content:center;
                display:inline-block;
            }
/* crea el formato de las cajas de la página principal*/ 
            #caja{
                border:2px solid black;
                background:#fff  url("https://www.xtrafondos.com/wallpapers/aurora-sobre-un-lago-124.jpg");
                float: left;
                width:150px;
                padding:25px;
                margin: 10px;
                text-align: center;
                margin:auto;
                display:block;
            }
 /* le da formato a las imagenes dentro de las cajas */            
            img{

                width: 80px;
                height: 80px;
                border-radius: 100%;
                margin:auto;
                display:block;

            }
/* Le da formato a la ul de la página web*/ 

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #121212;
            }
/* Le da formato a las etiquetas li de la página web*/ 
            li {
                float: left;
                border-right:1px solid #bbb;
            }
/* Le da formato a las etiquetas li:last-child de la página web*/ 
            li:last-child {
                border-right: none;
            }
/* Le da formato a las etiquetas li a de la página web*/ 
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
/* Le da formato a las etiquetas li a:hover:not(.active) de la página web marcando el color cuando se le da clic*/ 
            li a:hover:not(.active) {
                background-color: #111;
/* Le da color  al .active de la página web marcando el color cuando se le da clic*/         }

            .active {
                background-color: #04AA6D;
            }
/* Le da formato al footer*/ 
            footer {

                background: #fff url("https://www.xtrafondos.com/wallpapers/nebula-en-el-espacio-6792.jpg");
                height: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                color: white;
                padding: 3px;
            }
/* Le da color blanco al las etiquetas tipo label*/            
            label{
                color: #fff;
            }

